@model Csiro.ViewModels.RegisterViewModel

<div class="row justify-content-center m-3">
    <div class="col-md-8 bg-dark text-white">
        <h2 class="text-center m-2">Registration Successful</h2>

        <div class="my-4 text-center text-white">
            <p>Please wait for one of our recruiters to contact you via email. </p>
        </div>

    </div>
</div>
<div class="mx-auto" style="width: 150px">
    <a class="btn btn-primary my-2" style="width: 150px" asp-controller="Home" asp-action="Index">Home</a>
</div>