@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <div class="row">
                <h1 class="text-info">WORK WITH US</h1>
                    <div class="card panel">

                    
        <img src="/images/employees.jpg" class="img-responsive" style="width: 100%" alt="employees">
        <div class="text-center">
            CSIRO is one of the popular research organizations in Australia.
            The organization would like to hire competent candidates for research work using Machine Learning and Data Science.
            The research is related to the causality rate caused by the vaccination of COVID-19 in Australia. <br />
            <br />

            <b>To successfully register applicants must:</b><br />
                    <span class="text-success">🗸</span> have graduated from one of the top 100 Universities<br />
                    <span class="text-success">🗸</span> obtained either Masters of Data Science, Masters of AI or Masters of Information Technology<br />
                    <span class="text-success">🗸</span> have a GPA of 3.0 or greater<br />
                    <div class="text-center">
            <a class="btn btn-info" asp-controller="Account" asp-action="Register" role="button">Apply Now!</a>
        
                  </div>
                  </div>
                </div>
                    </div>

                    </div>
    </div>
    <br />
      
        </div>
<br />

<div class="row">
    <h1 class="text-info">CSIRO NEWS</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card panel">
                    <div class="panel-heading"><b>LEARN MORE ABOUT THE VACCINE</b></div>
                    <div class="card-body">
                        <img src="/images/needle.jpg" class="img-responsive" style="width: 100%" alt="needle">
                    </div>
                    <div class="panel-footer">Here are some key points to help you learn more about the vaccines</div>
                    <span><a href="#" class="btn btn-secondary">Read More</a></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card panel">
                    <div class="panel-heading"><b>AUSTRALIA'S WORSENING WEATHER</b></div>
                    <div class="card-body">
                        <img src="/images/storm.jpg" class="img-responsive" style="width: 100%" alt="storm">
                    </div>
                    <div class="panel-footer">Changes in weather patterns can severely impact both the environment and the population</div>
                    <span> <a href="#" class="btn btn-secondary">Read More</a></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="panel-heading"><b>$600m PROJECT FOR CSIRO SITE</b></div>
                    <div class="card-body">
                        <img src="/images/building.jpg" class="img-responsive" style="width: 100%" alt="building">
                        
                    </div>
                    <div class="panel-footer">Here are some key points about the $600m project starting in 2023</div>
                    <span><a href="#" class="btn btn-secondary">Read More</a></span>
                </div>
            </div>
        </div>
    </div>
</div>


